## <center><strong>Notebook describtion & Our <span style= 'color: #51fcc6'>Questions</span>

In this notebook we are going to create the charts that we are going to use in the final pdf report and the tools we are going<br>
to use are matplotlib and seaborn.

#### **Questions we are going to awnser:**
1. How many jobs are available per country and per profession on Likedin.

2. How many profiles have earned money on UpWork Vs Guru per 1,000 profile.

3. Average salary per profession and per country on LinkedIn.

4. What's Top 5 people in earnings amount most frequent words in thier describtions.<sub> *(In upwork</sub>

5. What's Worst 5 people in earnings amount most frequent words in thier describtions.<sub> *(In upwork)</sub>

6. What are the most appending skills in the job titels per profession.<sub> *(In upwork & LinkedIn)</sub>

7. What are the Top 10 skills in earnings. <sub> *(In upwork & LinkedIn)</sub>

8. Correlation between Earnings amount, Years of Exp, Hour rate & Feedback in Upwork.

9. Does the Consultations offers affect the Earnings amount strongly.

10. Top 3 countries in total freelancers earnings Vs Top 3 countries in freelancers count <sub> *(In upwork & guru)</sub>

11. Jobs count per Jobs location per profession.

12. Where are the most job loactions in general per profession.

13. What's the average salary per proffision & per country.

14. What's the most common Employment type per data jobs in general.

15. Jobs count vs listing dates per proffision to see thier growth trends.

16. most common Earning abount, hour rate, exp years per proffision in Upwork.

#### **Important note:**
I am going to use  **`pandasql`** to read the data from the dfs so I can create plots more easly using SQL<br>
queries inside python.

## <center><strong>Importing the <span style= 'color: #48e0dc'>Packeges

In [2]:
import os
import warnings
import matplotlib
import pandasql           as ps
import pandas             as pd
import numpy              as np
import seaborn            as sns
import matplotlib.pyplot  as plt

from google.cloud         import bigquery
from wordcloud            import WordCloud
from collections          import Counter

In [3]:
%matplotlib inline
plt.rcParams['font.family'] = 'Candara'

warnings.filterwarnings('ignore')

credentials_path :str = '../credentials.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = credentials_path

FONT             :int  = 17
COLORS           :list = ['#51fcc6', '#48e0dc', '#5cd3f7', '#4895e0', '#517afc']
NUMERICS         :list = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64',
                          'uint16', 'uint32', 'uint64']

## <center><strong>Loading the data & basic data <span style= 'color: #5cd3f7'>Cleaning

In [41]:
project_id :str = 'data-jobs-analysis-db'
dataset_id :str = 'data_jobs_analysis_db'

pandas_sql  = lambda q: ps.sqldf(q, globals())
client      = bigquery.Client(project= project_id)

linkedin_jobs    = client.query(f'SELECT * FROM {dataset_id}.linkedin_jobs_new;').to_dataframe()
upwork_profiles  = client.query(f'SELECT * FROM {dataset_id}.upwork_profiles_new;').to_dataframe()
guru_profiles    = client.query(f'SELECT * FROM {dataset_id}.guru_profiles_new;').to_dataframe()

In [38]:
cm = sns.light_palette(COLORS[0], as_cmap=True)

linkedin_jobs.drop(['describtion', 'jobs_links', 'jobs_titles', 'skills']
                   , axis= 1).sample(5).style.background_gradient(cmap= cm)

In [39]:
cm = sns.light_palette(COLORS[2], as_cmap=True)

upwork_profiles.drop(['describtion', 'skills']
                   , axis= 1).sample(5).style.background_gradient(cmap= cm)

In [40]:
cm = sns.light_palette(COLORS[4], as_cmap=True)

guru_profiles.drop(['describtion', 'skills']
                   , axis= 1).sample(5).style.background_gradient(cmap= cm)

#### **Basic cleaning:**

In [ ]:
pandas_sql('SELECT * FROM ')

In [36]:
upwork_profiles.drop(['Unnamed__0', 'new_columns'], axis= 1, inplace= True)
guru_profiles.drop(['Unnamed__0', 'new_columns'], axis= 1, inplace= True)

linkedin_jobs.drop(['jobs_links'], axis= 1, inplace= True)

## <center><strong><span style= 'color: #5cd3f7'>Visualizing</span> the data (part 1)