## <center><strong>Notebook<span style= 'color: #51FCC6'> Describtion

## <center><strong>Importing<span style= 'color: #48E0DC'> Packeges

In [1]:
import time
import sqlite3
import inspect
import warnings
import requests
import itertools
import cloudscraper
import numpy                         as np
import pandas                        as pd
import seaborn                       as sns
import matplotlib.pyplot             as plt

from itertools                       import count
from bs4                             import BeautifulSoup
from selenium                        import webdriver
from selenium.webdriver.common.by    import By
from selenium.webdriver.common.keys  import Keys
from fake_useragent                  import UserAgent
from IPython.display                 import set_matplotlib_formats
from selenium.webdriver.support.ui   import WebDriverWait
from selenium.webdriver.support      import expected_conditions as EC

In [2]:
warnings.filterwarnings('ignore')
set_matplotlib_formats('pdf', 'svg')

MAX_PAGES        :int   = 10
COLORS           :list  = ['#51fcc6', '#48e0dc', '#5cd3f7', '#4895e0', '#517afc']
NUMERICS         :list  = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64',
                           'uint16', 'uint32', 'uint64']

data_jobs_titles :list  = ['Data entry', 'Data Engineering',
                           'Data scientist', 'Data Analyst',
                           'Machine Learning']

## <center><strong>Setting up the<span style= 'color: #5CD3F7'> Web scrapers

In [3]:
def scrape_page(url: str) -> BeautifulSoup:

    scraper = cloudscraper.create_scraper(delay= 10,browser= {
        'browser': 'chrome',
        'platform': 'windows',
        'desktop': True,
        'mobile': False}) 
    
    content = scraper.get(url).text
    soup    = BeautifulSoup(content)
    
    return soup

In [4]:
# Upwork scraper
def upwork_scraper(job_title : str,
                   page      : int) -> list:

    url         : str  = f'https://www.upwork.com/search/profiles/?page={page}&q={job_title}'
    soup        : str  = scrape_page(url)
    loaded_jobs : list = soup.find_all('div', class_= 'up-card-section up-card-hover')

    return  loaded_jobs


# Guru scraper
def guru_scraper(job_title : str,
                 page      : int) -> list:

    url         : str  = f'https://www.guru.com/d/freelancers/skill/{job_title}/pg/{page}/'
    soup        : str  = scrape_page(url)
    loaded_jobs : list = soup.find_all('div', class_= 'record record--avatarCheck findGuruRecord')
    loaded_page : int  = int(soup.find('li', class_= 'active').find('a').text)
    
    if loaded_page != page:
        loaded_jobs = []

    return loaded_jobs

Now we will try to calculate how much did each scraper take to collect the data

In [5]:
%timeit upwork_scraper('Data analytics', 1)
%timeit guru_scraper('Data analytics', 1)

1.86 s ± 376 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
925 ms ± 121 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## <center><strong>Collecting the Websites <span style = 'color: #4895e0'> HTML</span>

In [5]:
def retrieve_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_locals.items()
    return [var_name for var_name, var_val in callers_local_vars if var_val is var]

In [12]:
soups : dict = {'jobs_soups'     : [],
                'data_job_title' : [],
                'platform'       : []}

for scraper in [guru_scraper, upwork_scraper]:
    scraper_name      : str  = retrieve_name(scraper)[0].split('_')[0].title()
    print(f'\nStarted scraping {scraper_name} data.')
    
    for job_title in data_jobs_titles:

        concated_jobs : list = []

        for i in count(0):
            page      : int  = i + 1
            jobs      : list = scraper(job_title, page)

            if (len(jobs) == 0) or (page >= MAX_PAGES):
                break

            for job in jobs:
                concated_jobs.append(job)


        print(f'Finished loading {job_title} jobs data from {scraper_name}')
        
        soups['jobs_soups']     .append(concated_jobs)
        soups['data_job_title'] .append(job_title)
        soups['platform']       .append(scraper_name)

Started scraping Guru data.
Finished loading Data entry jobs data from Guru
Finished loading Data Engineering jobs data from Guru
Finished loading Data scientist jobs data from Guru
Finished loading Data Analyst jobs data from Guru
Finished loading Machine Learning jobs data from Guru

Started scraping Upwork data.
Finished loading Data entry jobs data from Upwork
Finished loading Data Engineering jobs data from Upwork
Finished loading Data scientist jobs data from Upwork
Finished loading Data Analyst jobs data from Upwork
Finished loading Machine Learning jobs data from Upwork

## <center><strong> Collecting <span style= 'color: #517afc'>Cards</span> Data

In [61]:
guru_df   = stacked_df[stacked_df['platform'] == 'Guru'].reset_index()
upwork_df = stacked_df[stacked_df['platform'] == 'Upwork'].reset_index()

guru_df['describtion']     = None
guru_df['earnings_amount'] = None
guru_df['feedback']        = None
guru_df['name']            = None
guru_df['job_title']       = None
guru_df['addresse']        = None
guru_df['hour_rate']       = None
guru_df['minimum_pay']     = None
guru_df['skills']          = None

upwork_df['describtion']          = None
upwork_df['earnings_amount']      = None
upwork_df['feedback']             = None
upwork_df['name']                 = None
upwork_df['job_title']            = None
upwork_df['country']              = None
upwork_df['hour_rate']            = None
upwork_df['consultations_offers'] = None
upwork_df['skills']               = None

#### **Loading Guru data**

In [62]:
for i, jobs in enumerate(guru_df['jobs_soups']):
    
    describtions     : list = []
    earnings_amounts : list = []
    feedbacks        : list = []
    names            : list = []
    job_titles       : list = []
    addresses        : list = []
    hour_rates       : list = []
    minimum_pays     : list = []
    skills           : list = []

    for job in jobs:

        try:      describtions     .append(job.find('p', 'serviceListing__desc').text.strip())
        except:   describtions     .append(np.nan)

        # Earnings per year
        try:      earnings_amounts .append(job.find('span', 'earnings__amount').text.strip())
        except:   earnings_amounts .append(np.nan)

        # Feedback
        try:      feedbacks        .append(job.find('span', 'freelancerAvatar__feedback').text.strip())
        except:   feedbacks        .append(np.nan)

        # Name
        try:      names            .append(job.find('h3', 'freelancerAvatar__screenName').find('a').text.strip())
        except:   names            .append(np.nan)

        # Job title
        try:      job_titles       .append(job.find('h2', 'serviceListing__title serviceListing__title--dark').find('a').text.strip())
        except:   job_titles       .append(np.nan)

        # Addresse
        try:      addresses        .append(job.find('span', 'freelancerAvatar__location')['title'].strip())
        except:   addresses        .append(np.nan)
        
        # Hour rate
        try:      hour_rates       .append(job.find('p', 'serviceListing__rates').text.split('.')[0].strip())
        except:   hour_rates       .append(np.nan)
        
        # Minimum pays
        try:      minimum_pays     .append(job.find('p', 'serviceListing__rates').text.split('·')[-1].strip())
        except:   minimum_pays     .append(np.nan)

        # Skills
        try:
            skills_temp = job.find_all('a', 'skillsList__skill skillsList__skill--hasHover')
            skills                 .append([skill.text.strip() for skill in skills_temp])
            
        except:   skills           .append(np.nan)
        
    # Now we are going to convert list into tuples.
    guru_df['describtion']     [i] = tuple(describtions)
    guru_df['earnings_amount'] [i] = tuple(earnings_amounts)
    guru_df['feedback']        [i] = tuple(feedbacks)
    guru_df['name']            [i] = tuple(names)
    guru_df['job_title']       [i] = tuple(job_titles)
    guru_df['addresse']        [i] = tuple(addresses)
    guru_df['hour_rate']       [i] = tuple(hour_rates)
    guru_df['minimum_pay']     [i] = tuple(minimum_pays)
    guru_df['skills']          [i] = tuple(skills)

#### **Loading Upwork data**

In [80]:
for i, jobs in enumerate(upwork_df['jobs_soups']):
    
    describtions         : list = []
    earnings_amounts     : list = []
    feedbacks            : list = []
    names                : list = []
    job_titles           : list = []
    countries            : list = []
    hour_rates           : list = []
    skills               : list = []
    consultations_offers : list = []
    

    for job in jobs:

        try:      describtions          .append(job.find('div', 'up-line-clamp-v2 clamped').text.strip())
        except:   describtions          .append(np.nan)

        # Earnings per year
        try:      earnings_amounts      .append(job.find('span',attrs= {'data-test', 'earned-amount-formatted'}).text.strip())
        except:   earnings_amounts      .append(np.nan)

        # Feedback
        try:      feedbacks             .append(job.find('span', 'up-job-success-text').text.split('%')[0].strip())
        except:   feedbacks             .append(np.nan)

        # Name
        try:      names                 .append(job.find('div', 'identity-name').text.strip())
        except:   names                 .append(np.nan)

        # Job title
        try:      job_titles            .append(job.find('p', 'my-0 freelancer-title').find('strong').text.strip())
        except:   job_titles            .append(np.nan)

        # Country
        try:      countries             .append(job.find('span', attrs= {'itemprop': 'country-name'}).text.strip())
        except:   countries             .append(np.nan)
        
        # Hour rate
        try:      hour_rates            .append(job.find('div', 'grid-col-1 grid-col-sm-1 justify-self-start nowrap').find('strong').text.strip())
        except:   hour_rates            .append(np.nan)
        
        # Offers consultations
        try:      consultations_offers  .append(job.find('div', 'up-skill-badge up-badge up-badge-highlight up-badge-rounded-inverse').text.strip())
        except:   consultations_offers  .append('Doesn\'t offer consultations')
        
        # Skills
        try:
            skills_temp = job.find_all('div', 'up-skill-badge')
            skills                 .append([skill.text.strip() for skill in skills_temp])
            
        except:   skills           .append(np.nan)
        
    # Now we are going to convert list into tuples.
    upwork_df['describtion']          [i] = tuple(describtions)
    upwork_df['earnings_amount']      [i] = tuple(earnings_amounts)
    upwork_df['feedback']             [i] = tuple(feedbacks)
    upwork_df['name']                 [i] = tuple(names)
    upwork_df['job_title']            [i] = tuple(job_titles)
    upwork_df['country']              [i] = tuple(countries)
    upwork_df['hour_rate']            [i] = tuple(hour_rates)
    upwork_df['consultations_offers'] [i] = tuple(consultations_offers)
    upwork_df['skills']               [i] = tuple(skills)

In [83]:
guru_df

,index,jobs_soups,job_title,platform,describtion,earnings_amount,feedback,name,addresse,hour_rate,minimum_pay,skills
0,0,"[[\n, [\n, <input :value=""1769804"" aria-label=...","(Data Entry | Data Processing, Data Entry, Dat...",Guru,(We are Data Entry Specialists ‍ who offer hel...,"(58,742, 42,580, 27,100, 22,010, 17,289, 21,99...","(100%, 100%, 100%, 99.5%, 100%, 100%, 100%, 10...","(Tinkogroup, BR Solutions Pvt. Ltd.- App exper...","(Poltava, Poltavs'ka Oblast', Ukraine, New Del...",($10/hr\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...,(Starting at\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,"([Data Entry, Admin Support, Copy and Paste, C..."
1,1,"[[\n, [\n, <input :value=""538436"" aria-label=""...","(Data Engineering Solutions, Enterprise Data E...",Guru,(Our engineers help you unleash the power of b...,"(279,940, 95,587, 34,078, 20,673, ID Verified,...","(100%, 100%, 100%, 100%, nan, nan, nan, nan, n...","(NIX-agency, GJB Enterprise Solutions, Colan I...","(Kfar Saba, Tel Aviv, Israel, Belton, Texas, U...",($45/hr\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...,(Starting at\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,"([Data Engineering, Data Architecture, Data Ma..."
2,2,"[[\n, [\n, <input :value=""2712307"" aria-label=...","(Data Scientist, Data Scientist, Data scientis...",Guru,"(Hello, My name is Arsalan Younus and I am ver...","(42,312, 7,396, 6,999, 4,220, 10,960, 30, nan,...","(100%, 100%, 100%, 100%, 91.3%, 100%, nan, nan...","(Arsalan Younus, Kevin S. R., Tuan Cuong Dinh,...","(Faisalabad, Punjab, Pakistan, Stanford, Calif...",($25/hr\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...,(Starting at\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,"([Data Scientist, Analytics, Artificial Neural..."
3,3,"[[\n, [\n, <input :value=""3709060"" aria-label=...","(Data analyst, data analyst, excel dashboard, ...",Guru,"(Experienced in working with MS word, excel, p...","(2,436, 10,661, nan, nan, nan, nan, nan, nan, ...","(100%, 98.2%, nan, nan, nan, nan, nan, nan, na...","(Shah Kabeer, Speedy Websites & Graphics Solut...","(Havelian, North-West Frontier, Pakistan, Bhak...",($5/hr\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,(Starting at\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,"([Data Analyst, Data Collection, Data Entry, D..."
4,4,"[[\n, [\n, <input :value=""3587209"" aria-label=...","(AI, Machine Learning, ChatGPT Dev, IOT & Gene...",Guru,(I am a Machine Learning Engineer with 10+ yea...,"(240,221, 65,663, 95,587, 62,284, 35,000, 46,7...","(99.2%, 100%, 100%, 100%, 100%, 100%, 100%, 10...","(Steve Y., Vnnovate Solutions, GJB Enterprise ...","(Lakeville, Minnesota, United States, Ahmedaba...",($70/hr\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...,(Starting at\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,"([Machine Learning, Algorithms, Analytics, Art..."