## <center><strong><span style= 'color: #51fcc6'>Notebook </span>Describtion

Here we will try to extract more data from the describtions of each job using simple NER, POS & Regex expressions<br>
We will also need to clean the data after we extract it and make sure that there isn't any NANs

**Things we will extract from the dexcribtions:**
- Salaries data
- Mentioned skills
- Requeird years of experience
- Requeird programming languages

## <center><strong>Importing the <span style= 'color: #48e0dc'>Packeges</span>

In [150]:
import os
import re
import sys
import nltk
import random
import warnings
import matplotlib

import pandas             as pd
import numpy              as np
import seaborn            as sns
import matplotlib.pyplot  as plt

from io                   import StringIO 
from bs4                  import BeautifulSoup
from google.cloud         import bigquery
from wordcloud            import WordCloud
from IPython.display      import set_matplotlib_formats
from collections          import Counter

In [6]:
%matplotlib inline
plt.rcParams['font.family'] = 'Candara'

warnings.filterwarnings('ignore')

credentials_path :str = '../credentials.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = credentials_path

FONT             :int  = 17
COLORS           :list = ['#51fcc6', '#48e0dc', '#5cd3f7', '#4895e0', '#517afc']
NUMERICS         :list = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64',
                          'uint16', 'uint32', 'uint64']

## <center><strong>Extracting <span style= 'color: #48e0dc'>LinkedIn</span> data

In [283]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [67]:
project_id :str = 'data-jobs-analysis-db'
dataset_id :str = 'data_jobs_analysis_db'

client   = bigquery.Client(project= project_id)

linkedin_jobs    = client.query(f'SELECT * FROM {dataset_id}.linkedin_jobs;').to_dataframe()
upwork_profiles  = client.query(f'SELECT * FROM {dataset_id}.upwork_profiles;').to_dataframe()
guru_profiles    = client.query(f'SELECT * FROM {dataset_id}.guru_profiles;').to_dataframe()

In [68]:
linkedin_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   jobs_locations      3455 non-null   object
 1   listing_dates       3349 non-null   object
 2   jobs_titles         3455 non-null   object
 3   companies_names     3455 non-null   object
 4   jobs_links          3455 non-null   object
 5   describtion         3455 non-null   object
 6   location_type       3455 non-null   object
 7   employment_type     3455 non-null   object
 8   industry            3414 non-null   object
 9   reqierd_credential  3455 non-null   object
 10  country             3455 non-null   object
 11  job_title           3455 non-null   object
 12  total_jobs          3455 non-null   Int64
dtypes: Int64(1), object(12)
memory usage: 354.4+ KB

<h4> <strong>Important note:</strong></h4>
We will need to use a string pattern search algorith so I will use <strong><code>Boyer Moore search</code></strong> to find the<br> strings more fast
and here's an image to explain it:<br>
<center><img src="https://www.researchgate.net/publication/337265181/figure/fig2/AS:825303362437121@1573779063161/Intuition-of-the-Boyer-Moore-search-procedure.png" alt="Intuition of the Boyer-Moore search procedure." itemprop="contentUrl" class="figure-details-image__main-image"></center>

In [517]:
def boyer_moore_search(pattern: str, text: str) -> dict:
    
    m              : int  = len(pattern)
    n              : int  = len(text)
    matches        : list = []
    bad_char_table : dict = {}
    
    for i in range(m - 1):
        bad_char_table[pattern[i]] = m - i - 1
        
    i : int = m - 1
    
    while i < n:
        
        k : int = 0
        while k < m and pattern[m - 1 - k] == text[i - k]:
            k += 1
        if k == m:
            matches.append(i - m + 1)
            i += m
        else:
            char_shift = bad_char_table.get(text[i], m)
            i += max(1, char_shift)

    return matches

def find_strings_in_string(string_list: list, target_string: str) -> list:
    matches = set()
    
    for s in string_list:
        if len(s) <= len(target_string):
            if boyer_moore_search(s, target_string):
                matches.add(s)

    return list(matches)

In [73]:
def remove_html_tags(text):
    
    text_with_raw_html : str = BeautifulSoup(text, 'lxml').text
    text               : str = BeautifulSoup(text_with_raw_html, 'lxml').text

    return text

In [511]:
def extract_salary(description) -> float:
    
    salary_regex = r'\$([0-9,.]+(?:K|k)?(?:\.\d+)?)(?:\s*(?:to|-)\s*\$([0-9,.]+(?:K|k)?(?:\.\d+)?))?'
    salary_matches = re.findall(salary_regex, description)

    
    if salary_matches:
        salary_range = tuple(float(value.replace(',', '').replace('.', '').lower().replace('k', '000')) for value in salary_matches[0] if value != '' )
        salary = sum(salary_range) / len(salary_range)
    else:
        salary = np.nan

    return salary

In [ ]:
def extract_requird_exp_years(description) -> float:

In [ ]:
def extract_requird_skills(description) -> list:

    data_analysis_skills = [
        'Pandas', 'Excel',
        'NumPy', 'Matplotlib',
        'Seaborn', 'Tableau',
        'Power BI', 'Data querying',
        'Data mining', 'Data interpretation',
        'Data modeling', 'Data reporting',
        'Business intelligence', 'Data analytics',
        'Data validation', 'Data profiling',
        'Data aggregation', 'Data imputation',
        'Data manipulation', 'Data auditing',
        'Data quality management',
        'Data cleaning', 'Data visualization',
        'Statistical analysis', 'SPSS']

    data_science_skills = [
        'Machine learning', 'Deep learning', 'NLP',
        'Natural language processing', 'Computer vision',
        'Big data', 'Data wrangling',
        'Feature engineering', 'Predictive modeling',
        'Time series analysis', 'TensorFlow',
        'Keras', 'PyTorch',
        'Scikit-learn', 'Hadoop',
        'Spark', 'Data storytelling',
        'A/B testing', 'Data mining',
        'Data cleaning', 'Data visualization',
        'Data manipulation', 'Data pre-processing',
        'Data analysis', 'Data presentation',
        'Data-driven decision making', 'Model evaluation',
        'Model deployment']

    data_engineering_skills = [
        'ETL (Extract, Transform, Load)',
        'Data warehousing', 'Data pipelines',
        'Database management', 'Data architecture',
        'Data integration', 'Apache Kafka',
        'Apache Airflow', 'Amazon Web Services',
        'Google Cloud Platform', 'Microsoft Azure',
        'Docker', 'Kubernetes',
        'Data security', 'Data governance',
        'Data scalability', 'Data storage',
        'Data migration', 'Data transformation',
        'Data orchestration', 'Data monitoring',
        'Data lake', 'AWS', 'GCP']

    data_entry_skills = [
        'Typing speed', 'Data accuracy',
        'Data entry software', 'Excel',
        'Google Sheets', 'Data verification',
        'Data organization', 'Attention to detail',
        'Time management', 'Data maintenance',
        'Database management', 'Copy typing',
        'Data review', 'Data formatting',
        'Data categorization', 'Data entry validation',
        'Data cleansing', 'Data input',
        'Data indexing', 'Data extraction',
        'Data capture', 'Data filing',
        'Data archiving']

    all_skills = (
        data_analysis_skills + data_science_skills +
        data_engineering_skills + data_entry_skills)

In [512]:
linkedin_jobs['describtion'] : pd.Series = linkedin_jobs['describtion'].apply(remove_html_tags)
linkedin_jobs['salary']      : pd.Series = linkedin_jobs['describtion'].apply(extract_salary)

In [519]:
linkedin_jobs['describtion']

"We are seeking a Data Engineer to join the Arc family. As a senior member of the technical team, you'll work alongside the CTO to design, architect and implement data infrastructure and pipelines to power our automated underwriting process.You'll solve hard problems and have a deep impact on the end-product. Expect to work in a fast-paced environment, with amazing engineers who believe in our mission.Requirements4 years of professional experienceExperience with working on a modern data stack with tools such as AWS S3, Apache Spark, Jupyter, Databricks, SnowflakeCollaborative and enjoys working in a teamPassion for engineering and learning"

In [550]:
def extract_years(description):
    
    def convert_to_float(value):
        value = value.replace(',', '').replace('.', '').replace(' ', '')
        return float(value)
    
    years_regex = r'(\d+(?:[,.]?\d+)*(?:\.\d+)?)\s*\+?\s*(?:years?|yrs?)'
    years_matches = re.findall(years_regex, description, re.IGNORECASE)

    years_list = [convert_to_float(value) for value in years_matches]
    return years_list

In [551]:
extract_years(linkedin_jobs['describtion'][10])

[6.0]

In [549]:
linkedin_jobs['describtion'][10][1885:1885 +15]

'years of hands-'