## <center><strong><span style= 'color: #51fcc6'>Notebook </span>Describtion

Here we will try to extract more data from the describtions of each job using simple NER, POS & Regex expressions<br>
We will also need to clean the data after we extract it and make sure that there isn't any NANs

**Things we will extract from the dexcribtions:**
- Salaries data
- Mentioned skills
- Requeird years of experience
- Requeird programming languages

## <center><strong>Importing the <span style= 'color: #48e0dc'>Packeges</span>

In [150]:
import os
import re
import sys
import nltk
import random
import warnings
import matplotlib

import pandas             as pd
import numpy              as np
import seaborn            as sns
import matplotlib.pyplot  as plt

from io                   import StringIO 
from bs4                  import BeautifulSoup
from google.cloud         import bigquery
from wordcloud            import WordCloud
from IPython.display      import set_matplotlib_formats
from collections          import Counter

In [6]:
%matplotlib inline
plt.rcParams['font.family'] = 'Candara'

warnings.filterwarnings('ignore')

credentials_path :str = '../credentials.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = credentials_path

FONT             :int  = 17
COLORS           :list = ['#51fcc6', '#48e0dc', '#5cd3f7', '#4895e0', '#517afc']
NUMERICS         :list = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64',
                          'uint16', 'uint32', 'uint64']

## <center><strong>Exploring the data from <span style= 'color: #48e0dc'>Text</span>

In [283]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\FreeComp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [67]:
project_id :str = 'data-jobs-analysis-db'
dataset_id :str = 'data_jobs_analysis_db'

client   = bigquery.Client(project= project_id)

linkedin_jobs    = client.query(f'SELECT * FROM {dataset_id}.linkedin_jobs;').to_dataframe()
upwork_profiles  = client.query(f'SELECT * FROM {dataset_id}.upwork_profiles;').to_dataframe()
guru_profiles    = client.query(f'SELECT * FROM {dataset_id}.guru_profiles;').to_dataframe()

In [68]:
linkedin_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   jobs_locations      3455 non-null   object
 1   listing_dates       3349 non-null   object
 2   jobs_titles         3455 non-null   object
 3   companies_names     3455 non-null   object
 4   jobs_links          3455 non-null   object
 5   describtion         3455 non-null   object
 6   location_type       3455 non-null   object
 7   employment_type     3455 non-null   object
 8   industry            3414 non-null   object
 9   reqierd_credential  3455 non-null   object
 10  country             3455 non-null   object
 11  job_title           3455 non-null   object
 12  total_jobs          3455 non-null   Int64
dtypes: Int64(1), object(12)
memory usage: 354.4+ KB

In [73]:
def remove_html_tags(text):
    
    text_with_raw_html : str = BeautifulSoup(text, 'lxml').text
    text               : str = BeautifulSoup(text_with_raw_html, 'lxml').text

    return text

In [511]:
def extract_salary(description) -> float:
    
    salary_regex = r'\$([0-9,.]+(?:K|k)?(?:\.\d+)?)(?:\s*(?:to|-)\s*\$([0-9,.]+(?:K|k)?(?:\.\d+)?))?'
    salary_matches = re.findall(salary_regex, description)

    
    if salary_matches:
        salary_range = tuple(float(value.replace(',', '').replace('.', '').lower().replace('k', '000')) for value in salary_matches[0] if value != '' )
        salary = sum(salary_range) / len(salary_range)
    else:
        salary = np.nan

    return salary

In [ ]:
def extract_requird_exp_years(description) -> float:

In [ ]:
def extract_requird_skills(description) -> list:

    data_analysis_skills = [
        'Pandas', 'Excel',
        'NumPy', 'Matplotlib',
        'Seaborn', 'Tableau',
        'Power BI', 'Data querying',
        'Data mining', 'Data interpretation',
        'Data modeling', 'Data reporting',
        'Business intelligence', 'Data analytics',
        'Data validation', 'Data profiling',
        'Data aggregation', 'Data imputation',
        'Data manipulation', 'Data auditing',
        'Data quality management',
        'Data cleaning', 'Data visualization',
        'Statistical analysis', 'SPSS']

    data_science_skills = [
        'Machine learning', 'Deep learning', 'NLP',
        'Natural language processing', 'Computer vision',
        'Big data', 'Data wrangling',
        'Feature engineering', 'Predictive modeling',
        'Time series analysis', 'TensorFlow',
        'Keras', 'PyTorch',
        'Scikit-learn', 'Hadoop',
        'Spark', 'Data storytelling',
        'A/B testing', 'Data mining',
        'Data cleaning', 'Data visualization',
        'Data manipulation', 'Data pre-processing',
        'Data analysis', 'Data presentation',
        'Data-driven decision making', 'Model evaluation',
        'Model deployment']

    data_engineering_skills = [
        'ETL (Extract, Transform, Load)',
        'Data warehousing', 'Data pipelines',
        'Database management', 'Data architecture',
        'Data integration', 'Apache Kafka',
        'Apache Airflow', 'Amazon Web Services',
        'Google Cloud Platform', 'Microsoft Azure',
        'Docker', 'Kubernetes',
        'Data security', 'Data governance',
        'Data scalability', 'Data storage',
        'Data migration', 'Data transformation',
        'Data orchestration', 'Data monitoring',
        'Data lake', 'AWS', 'GCP']

    data_entry_skills = [
        'Typing speed', 'Data accuracy',
        'Data entry software', 'Excel',
        'Google Sheets', 'Data verification',
        'Data organization', 'Attention to detail',
        'Time management', 'Data maintenance',
        'Database management', 'Copy typing',
        'Data review', 'Data formatting',
        'Data categorization', 'Data entry validation',
        'Data cleansing', 'Data input',
        'Data indexing', 'Data extraction',
        'Data capture', 'Data filing',
        'Data archiving']

    all_skills = (
        data_analysis_skills + data_science_skills +
        data_engineering_skills + data_entry_skills)

In [512]:
linkedin_jobs['describtion'] : pd.Series = linkedin_jobs['describtion'].apply(remove_html_tags)
linkedin_jobs['salary']      : pd.Series = linkedin_jobs['describtion'].apply(extract_salary)

In [369]:
description_tokenized = nltk.Text(nltk.word_tokenize(linkedin_jobs['describtion'][3000]))
description_tokenized.concordance('$')

In [497]:
extract_salary(linkedin_jobs['describtion'][2])

110000.0

In [514]:
linkedin_jobs['salary'][:50]

0            NaN
1           25.0
2       110000.0
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9           72.5
10          40.0
11        4667.0
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17          37.5
18           NaN
19      139860.0
20      147500.0
21      176000.0
22      176000.0
23           NaN
24           NaN
25       82500.0
26     9900000.0
27           NaN
28           NaN
29      125000.0
30    10100000.0
31      135500.0
32         300.0
33       90000.0
34       90000.0
35           NaN
36           NaN
37          38.0
38           NaN
39          63.0
40          63.0
41           NaN
42           NaN
43           NaN
44           NaN
45           NaN
46          60.0
47           NaN
48           NaN
49           NaN
Name: salary, dtype: float64

In [492]:
print('fesd')

In [456]:
linkedin_jobs['describtion'][:30].apply(extract_salary)

0          NaN
1         27.5
2          4.0
3          NaN
4          NaN
5          9.0
6          1.0
7          1.0
8          NaN
9         72.5
10         5.0
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17        37.5
18         NaN
19         8.5
20    147500.0
21    176000.0
22    176000.0
23        11.5
24         NaN
25     82500.0
26     99000.0
27         NaN
28         NaN
29         NaN
Name: describtion, dtype: float64

In [454]:
linkedin_jobs['describtion'][3451]

"Data EngineerNew Jersey Connecticut Chelmsford, MassachusettsDescriptionJob ID: 23-579What You'll Be Working OnDetermine internal / external customer data needs and identify system specificationsAnalyze the needs of large systems and breaking them down into smaller manageable partsResponsible for designing the journey of data from various sources to the database and everything in betweenPlan and design the structure of data, brainstorm with teamAnalyze best technology products and systems for internal teamsHelp provide build vs buy decisions on data architectureCommunicate data requirements to engineers; explain data architecture to them and provide assistance throughout SDLCChoose / maintain suitable software, hardware and integration methodsHelp resolve technical problems as and when they ariseReview testing procedures to ensure data performant and error freeEnsure that database satisfy quality standards and procedures. Setup such standards. Work with senior IT personnel to devise plans for future IT requirements of the organizationProduce progress reports on key infrastructures - Elastic and Data PipelinesWhat You Bring To The RoleBachelor Degree or Post Graduate in Computer Science, or relevant work experience5+ years of experience in an Engineering / Operations heavy organization 1+ years of experience as a Data Analysis and Data Design responsible for data architecture of a SaaS application Experience in understanding and designing data sharding in a distributed databaseSome Hands-on experience in software development and system administrationKnowledge of strategic IT solutionsFamiliarity with programming languages like JavaScript or Java or PythonFamiliarity with Linux OS and Windows alikeExperience in cloud computing and cloud Technologies (AWS, GCP, Azure) Excellent communication skills - you should be adept at listening to, understanding, and explaining key concepts to managerial and technical resources.Good Anticipation and problem-solving skillsAbility to prioritize and manage time - responsible for multiple streams of work at the same timeRelationship building - Ability to form a good rapport with internal and external stakeholdersIn-depth knowledge about quality standards and security best practicesPreferred Skills Expert level Understanding of Elastic eco system - Elasticsearch, Logstash, Kibana, FilebeatsUnderstanding of secure tunnel communication using VPNExperience designing data at scaleAWS experience is preferred in Cloud TechnologiesWhat You'll Get From UsA team where you can voice your opinion, make an impact, and where you and your experience are valued. Internal mobility - there are opportunities for cross training and the ability to attain your next career step within Barracuda.Equity, in the form of non-qualified optionsHigh-quality health benefitsRetirement Plan with employer matchCareer-growth opportunitiesFlexible Time Off and Paid Time Off benefitsVolunteer opportunitiesApplicants must be authorized to work in the U.S.Please apply directly to by clicking 'Click Here to Apply' with your Word resume!Looking forward to receiving your resume and going over the position in more detail with you.The Platinum Team!Platinum is proud to be an Equal Opportunity EmployerPESOL is an EEO employer. All qualified applicants will receive consideration without regard to race, color, religion, sex, pregnancy, national origin, disability, age, genetic information, veteran status, sexual orientation and identity, AIDS/HIV, medical condition, political activities or affiliations, or status as a victim of domestic violence, assault, or stalking.Your Right to Work - In compliance with federal law, all persons hired will be required to verify identity and eligibility to work in the United States and to complete the required employment eligibility verification document form upon hire.Copyright © 2006 - 2018. Platinum ESOL, Inc. All rights reserved."

'Hello World\n'